.header{
    
    text-align: left;
border: 1px solid black;
width: 1000px;
height: 50px;
margin-left: 180px;
}
.logo-img {
    
    height: 50px;
    width: 65px;
    display: inline-block;
  }
  
  .logo-link{
width: 65px;
height: 50px;
    display: inline-block;
   
  }
  .header-col{
    display: inline-block;  
    vertical-align:middle;
  }
  .header-col-center{
    display: inline-block;
    text-align: center;
    vertical-align:middle;
  }
  .nav{
margin-left: 233px;
vertical-align:middle;
  }
  .list{
    vertical-align:middle;
  }
  .item{
    display: inline-block;
    vertical-align:middle;
    text-align: center;
  }
  .link{
    vertical-align:middle;
text-decoration: none;
color: black;
margin-left: 15px;
  }
  .header-col-right{
text-align: right;
vertical-align:middle;
  }
  .contacts{
    text-align: right;
    vertical-align:middle;
  }
  .contacts-tel{
    text-align: right;
    margin-left: 313px;
    vertical-align:middle;
  }
  .circle{
      margin-top: 150px;
background-color: cornflowerblue;
height: 500px;
    width: 500px;
    margin-right: 150px;
    display: inline-block;
  }
  .circl-2{
    background-color: cornflowerblue;
    height: 500px;
    width: 500px;
    display: inline-block;
    margin-top: 150px;
  }
  .circle-small-1{
      
      bottom: 353px;
      left: 15px;
      background-color: red;
      height: 100px;
      width: 100px;
      position: absolute;
  }
  .circle-small-2{
    left: 408px;
    top: 610+px;
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
}
.circle-small-3{
    left: 250px;
    top: 110px;
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
}
.circl-red-1{
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: 500px;
    
}
.circl-red-2{
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    margin-left: 400px;
    bottom: 508px;
}
.circl-red-3{
    margin-left: 400px;
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    
}
